<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />

	<context:component-scan base-package="com.techwolf.mmaker" />

	<beans>
			<bean id="boot" class="com.omartech.mmaker.BootMachine">
			</bean>
		<bean id="configure" class="com.omartech.mmaker.utils.SystemVar">
			<property name="logFolder" value="/tmp/blackhole/logs/"></property>
			<property name="htmlFolder" value="/tmp/html"></property>
		</bean>

	</beans>

</beans>
